<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/main.css">
        <title>{{title}}</title>
    </head>
    <body>
      <div class="page">
        <div class="header">
        </div>
        <div class="container">
          <div class="sidebar">
            <div class="menu">
              <a href="./"><img src="/todolist.png"></a>
            </div>
            <div class="profile">
              {% if user and user.id %}
                <p style="margin: 10px"></p>
                <div class="user-name">안녕하세요!&nbsp;<b>{{user.name}}</b>님</div>
                <p></p>
              <input id="my-id" type="hidden" value="{{user.id}}">
              <div class="buttons"></div>
              <a id="info" href="/profile" class="btn">INFO</a>
              <a id="logout" href="/auth/logout" class="btn">LOGOUT</a>
              {% else %}
              <form id="login-form" action="/auth/login" method="post">
              <div class="input-group">
                <div class="input_txt"><label for="email"><b>EMAIL</b></label></div>
                <input id="email" type="email" name="email" required autofocus>
              </div>
              <div class="input-group">
                <div class="input_txt"><label for="password"><b>PASSWORD</b></label></div>
                <input id="password" type="password" name="password" required>
              </div>
              <p style="margin: 10px;"></p>
              <button id="login" type="submit" class="btn">LOGIN</button>
              <a id="join" href="/join" class="btn">JOIN</a>
              </form>
              {% endif %}
            </div>
          </div>
          <div class="board">
            {% block contents %}
            {% endblock %}
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      {% block script %}
      {% endblock %}
    </body>
</html>